
<div class="w-1/4 bg-blue-400 rounded-lg shadow-2xl   mx-auto ">
<h1 class="text-3xl font-bold text-center">Articles</h1>

<h2>list</h2>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
</div>